{% extends 'base.html.twig' %}

{% block body %}
    <h1>Userdevices list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Datetime</th>
                <th>Connected</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for userdevice in userdevices %}
            <tr>
                <td><a href="{{ path('user_device_show', { 'id': userdevice.id }) }}">{{ userdevice.id }}</a></td>
                <td>{{ userdevice.name }}</td>
                <td>{% if userdevice.datetime %}{{ userdevice.datetime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if userdevice.connected %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_device_show', { 'id': userdevice.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_device_edit', { 'id': userdevice.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_device_new') }}">Create a new userdevice</a>
        </li>
    </ul>
{% endblock %}
