{% extends 'base.html.twig' %}

{% block body %}
    <h1>Userrights list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datestart</th>
                <th>Datestop</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for userright in userrights %}
            <tr>
                <td><a href="{{ path('user_rights_show', { 'id': userright.id }) }}">{{ userright.id }}</a></td>
                <td>{% if userright.datestart %}{{ userright.datestart|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if userright.datestop %}{{ userright.datestop|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_rights_show', { 'id': userright.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_rights_edit', { 'id': userright.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_rights_new') }}">Create a new userright</a>
        </li>
    </ul>
{% endblock %}
