{% extends 'base.html.twig' %}

{% block body %}
    <h1>Order</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Datetime</th>
                <td>{% if order.datetime %}{{ order.datetime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ order.price }}</td>
            </tr>
            <tr>
                <th>Isvalidated</th>
                <td>{% if order.isvalidated %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Isreceived</th>
                <td>{% if order.isreceived %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Ispaid</th>
                <td>{% if order.ispaid %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Isprint</th>
                <td>{% if order.isprint %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Issent</th>
                <td>{% if order.issent %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Isarchive</th>
                <td>{% if order.isarchive %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('order_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('order_edit', { 'id': order.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
