{% extends 'base.html.twig' %}

{% block body %}
    <h1>Password</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ password.id }}</td>
            </tr>
            <tr>
                <th>Pwdsha256</th>
                <td>{{ password.pwdSha256 }}</td>
            </tr>
            <tr>
                <th>Datetime</th>
                <td>{{ password.datetime }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('passwd_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('passwd_edit', { 'id': password.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
