{% extends 'base.html.twig' %}

{% block body %}
    <h1>Useractions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datetime</th>
                <th>Details</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for useraction in useractions %}
            <tr>
                <td><a href="{{ path('user_action_show', { 'id': useraction.id }) }}">{{ useraction.id }}</a></td>
                <td>{% if useraction.datetime %}{{ useraction.datetime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ useraction.details }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_action_show', { 'id': useraction.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_action_edit', { 'id': useraction.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_action_new') }}">Create a new useraction</a>
        </li>
    </ul>
{% endblock %}
